.tracklist {
  list-style: none;
  
  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: rgba(242, 242, 242, 0.3);
    }
  }

  &__album {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/disk.svg);

    &-img {
      width: 30px;
      height: 30px;
    }
  }
  
  &__title {
    display: flex;
    gap: 5px;
  }
}
